{
  "sourceMaps": "inline",
  "ignore": ["node_modules/yoga-layout", "node_modules/yoga-js"],
  "presets": [],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-es2015-modules-commonjs",
    "transform-react-jsx",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-inline-environment-variables"
  ],
  "parserOpts": {
    "sourceType": "module"
  }
}
