{
  "sourceMaps": "inline",
  "presets": ["flow", "react-native"],
  "plugins": [
    "syntax-object-rest-spread",
    "syntax-trailing-function-commas",
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "transform-runtime",
      {
        "helpers": true,
        "polyfill": false,
        "regenerator": true
      }
    ],
    "transform-inline-environment-variables",
    "preval",
    [
      "babel-plugin-transform-builtin-classes",
      {
        "globals": ["HTMLElement"]
      }
    ],
    "./scripts/babel-plugin-haste-require"
  ],
  "env": {
    "lib": {
      "presets": ["flow"]
    }
  }
}
