{
  "sourceMaps": "inline",
  "ignore": [
    "node_modules/yoga-layout"
  ],
  "presets": [
    "react-native"
  ],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-react-jsx",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-inline-environment-variables"
  ]
}